.swiper-scrollbar {
  height: 2px !important;
  border-radius: 0 !important;

  background-color: $white-03 !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: $white !important;
}
